* { margin: 0; padding: 0; }

html, body { height: 100%;}

.twoa { width: 100%; height: 100%;}

.w1 { width: 100%; height: 9rem;position: absolute;top:1.84rem;left: 0; }
.w1 .wia{ margin-top: -3rem; width: 100%; height:9rem !important;margin-top: 0px; }
.w1 .w11 { font-size: 0.72rem; color: white; position: absolute; top:7.2rem; left: 0.8rem; }
.w1 .wie{
	display: block;
	width: 0.8rem!important;height: 1.2rem!important;position: absolute;top: 7rem;left: 0.4rem;
}
.divx{
	width: 5rem;
	color: white;
	position: absolute;top:0.8rem;left: 34%;
}



.w3 { width: 100%; height: 100%; padding-left: 0.52rem;position: absolute;top:10.8rem;left: 0;background-color: #fff; }
.w3 .y3li1 { width: 100%; height: 2.96rem; border-bottom: 0.04rem solid #e5e5e5; position: relative; display: table; }
.w3 .y31 { width: 100%; padding-right: 2.657rem; display: table-cell; vertical-align: middle; padding-left: .3571rem; cursor: pointer; font-size: 0.72rem; box-sizing: border-box; }
.w3 .y32 { width: 1.8rem; height: 100%; position: absolute; top: 0; right: 0; }
.w3 .y32 img { width: 0.8rem; height: 0.8rem; margin-top: 0.96rem; }